langchain==0.3.2
langchain-cohere==0.3.0
langchain-community==0.3.1
langchain-core==0.3.9
langchain-experimental==0.3.2
langchain-text-splitters==0.3.0
langsmith==0.1.132
streamlit==1.39.0
tiktoken==0.8.0
qdrant-client==1.11.3